/* @override 
	http://getreceipthero.test/assets/css/global.dev.css?* */

/* -----------------------------------------------------------

	Project:		Receipt Hero
	Version:		1.0
	Created:		May 5, 2021
	Modified:	June 20, 2021

		[Table of contents]
		1. Reset
		2. Custom Properties
		2. Typography
		3. Utility styles
		4. Structure
		5. Animations

----------------------------------------------------------- */





/* -----------------------------------------------------------

	RESET

----------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

img	 { display: block; max-width: 100%; height: auto; }

article, aside, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }

blockquote, q 		{ quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after 	{ content: ''; content: none; }

a 		{ margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins 	{ background-color: #ff9; color: #000; text-decoration: none; }
mark 	{ background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del 	{ text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

/* tables still need cellspacing="0" in the markup */
table 			{ border-collapse: collapse; border-spacing: 0; }
hr 				{ display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select 	{ vertical-align: middle; }

/* Set html font-size to 10px so: 1rem = 10px */
html			{ font-size: 62.5%; }

/* Set basic typography settings for body */
body			{ -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; font-feature-settings: "kern"; -webkit-font-feature-settings: "kern"; -moz-font-feature-settings: "kern"; -moz-font-feature-settings: "kern=1"; scroll-behavior: smooth; }


/* -----------------------------------------------------------

	CUSTOM PROPERTIES

----------------------------------------------------------- */
:root	{
	/* Colors */
	--text-color-white: #fff;
	--text-color-dark: #1B1B1B;
	--text-color-grey: #9A9A9A;
	--text-color-highlight: #FF8273;
	
	--heading-color-dark: #1B1B1B;
	--heading-color-white: #fff;

	--bg-color-grey: #F9F9F9;
	--bg-color-secondary: ;

	/* Typography */
	--base-font-size: 190%; /* Set HTML font-size where 190% = 19px */
	--base-line-height: 1.5; /* Set base line-height for body text */
	
	--font-family-regular: "tt_interphaseslight", Helvetica, Arial, sans-serif; /* Set font-family for body text */
	--font-family-italic: "tt_interphaseslight_italic", Helvetica, Arial, sans-serif; /* Set font-family for italic */
	--font-family-medium: "tt_interphasesmedium", Helvetica, Arial, sans-serif; /* Set font-family for headers and bold */
	--font-family-mono: "tt_interphases_monoregular", Helvetica, Arial, sans-serif; /* Set font-family for headers */
	
	/* Font sizes */
	--body-size-tiny: 0.632em; /* 12px */
	--body-size-caption: 0.737em; /* 14px */
	--body-size-small: 0.842em; /* 16px */
	--body-size-mono: 0.947em; /* 18px */
	--body-size-large: 1.579em; /* 30px */
	--body-size-quote: 2.368em; /* 45px */
	--header-size-tiny: 0.737em; /* 14px */
	--header-size-medium: 2.105em; /* 40px */
	--header-size-large: 3.684em; /* 70px */
	--header-size-xl: 6.316em; /* 120px */

	/* Global padding */
	--global-padding-sides: 12rem;
	--global-padding-top: 12rem;
	--global-padding-btm: 12rem;
}





/* -----------------------------------------------------------

	TYPOGRAPHY

----------------------------------------------------------- */
@font-face {
	font-family: "tt_interphasesmedium";
	font-display: swap;
	src: url("../fonts/typetype_-_tt_interphases_medium-webfont.woff2") format("woff2"),
		 url("../fonts/typetype_-_tt_interphases_medium-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "tt_interphaseslight";
	font-display: swap;
	src: url("../fonts/typetype_-_tt_interphases_light-webfont.woff2") format("woff2"),
		 url("../fonts/typetype_-_tt_interphases_light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "tt_interphaseslight_italic";
	font-display: swap;
	src: url("../fonts/typetype_-_tt_interphases_light_italic-webfont.woff2") format("woff2"),
		 url("../fonts/typetype_-_tt_interphases_light_italic-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "tt_interphases_monoregular";
	font-display: swap;
	src: url("../fonts/typetype_-_tt_interphases_mono_regular-webfont.woff2") format("woff2"),
		 url("../fonts/typetype_-_tt_interphases_mono_regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}



body				{ font-size: var(--base-font-size); line-height: var(--base-line-height); font-family: var(--font-family-regular); color: var(--text-color-dark); background-color: var(--bg-color-grey); }


/* Set text selection color */
/*::selection 			{  }*/ /* WebKit/Blink Browsers */
/*::-moz-selection 		{  }*/ /* Gecko Browsers */



/* HEADINGS
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6		{ font-weight: normal; color: var(--heading-color-dark); font-family: var(--font-family-medium); text-rendering: optimizeLegibility; }



/* TEXT ELEMENTS
-------------------------------------------------------------- */
p						{ margin: 0 0 1.5em; }

a:hover, a:active 		{ outline: none; }
a, a:active, a:visited 	{ text-decoration: none; }
a:hover 				{  }

blockquote	{  }
strong		{ font-weight: normal; font-family: var(--font-family-medium); }
em,dfn		{ font-style: normal; font-family: var(--font-family-italic); }
dfn			{ font-weight: normal; }
sup, sub	{ line-height: 0; font-size: 0.75em; position: relative; vertical-align: baseline; }
sup			{ top: -0.5em; }
sub			{ bottom: -0.25em; }

abbr,
acronym		{  }
address		{  }
del			{  }

pre,code	{ white-space: pre; }
pre,code,tt {  }
pre 		{ white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }



/* BUTTONS & CALL-TO-ACTIONS
-------------------------------------------------------------- */
.cta						{ text-decoration: underline; text-transform: uppercase; font-family: var(--font-family-mono); }
.cta:hover					{  }

.cta--read-more				{ color: var(--text-color-highlight); font-size: var(--body-size-caption); }


.btn						{  }
.btn:hover					{  }



/* LISTS
-------------------------------------------------------------- */
li ul,
li ol		{ margin: 0 1.5em; }
ul, ol		{ margin: 0 1.5em 1.5em 1.5em; }

ul			{ list-style-type: disc; }
ol			{ list-style-type: decimal; }

.legalize ol			{ padding-left: 1.5em; padding-right: 3em; list-style: lower-roman; }
.legalize ol li		{ margin-bottom: 0.75em; }

dl			{ margin: 0 0 1.5em 0; }
dl dt		{ font-weight: normal; }
dd			{ margin-left: 1.5em;}

nav ul 		{ list-style: none; margin: 0; padding: 0; }
nav ul li	{ display: inline; }

.text-content ol			{  }
.text-content ol li		{ margin-bottom: 3.25rem; }

.text-content ul			{  }
.text-content ul li		{ margin-bottom: 3.25rem; }



/* TABLES
-------------------------------------------------------------- */
table		{ width: 100%; }
th			{  }
th,td		{  }
tr.even td	{  }
tfoot		{  }
caption		{  }



/* FORMS
-------------------------------------------------------------- */
/* align checkboxes, radios, text inputs with their label */
input[type="radio"] 	{ vertical-align: text-bottom; }
input[type="checkbox"] 	{ vertical-align: bottom; *vertical-align: baseline; }
.ie6 input 				{ vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button { cursor: pointer; -webkit-appearance: none; }

label				{ font-weight: normal; }

fieldset			{  }
legend				{ font-weight: normal; }

input				{  }

textarea			{  }
textarea			{  }
textarea:focus		{  }

select				{  }
select:focus			{  }


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: #ffffff;
	-webkit-box-shadow: none;
	font-family: var(--font-family-body); 
}





/* -----------------------------------------------------------

	UTILITY STYLES

----------------------------------------------------------- */
.bg-video,
.bg-cover			{ background-position: center center; background-repeat: no-repeat; background-size: cover; }
.bg-video 			{ position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }

.center-vertically	{ position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.text-center			{ text-align: center; }
.text-right			{ text-align: right; }





/* -----------------------------------------------------------

	STRUCTURE

----------------------------------------------------------- */
*,
*:before,
*:after 			{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html				{ height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
body 				{ height: 100%; text-align: center; }
body.nav-is-open		{ height: 100vh; overflow: hidden; }

.page-wrapper		{ width: 100%; min-height: 100%; _height: 100%; margin: auto; position: relative; text-align: left; overflow: hidden; }

.page-hero,
.page-content,
.page-footer			{ width: 100%; position: relative; }



/* GLOBAL PADDING
-------------------------------------------------------------- */
.page-header,
.page-hero,
.content-block,
.page-footer					{  }
.page-content				{  }

.layout-width				{ max-width: 164rem; margin-left: auto; margin-right: auto; padding-left: 4rem; padding-right: 4rem; }
.layout-padding--sides		{ padding-left: var(--global-padding-sides); padding-right: var(--global-padding-sides); }



/* FLEXBOX AND GRID
-------------------------------------------------------------- */
.flex-wrapper 						{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: stretch; }
.flex-wrapper::after					{ content: ""; flex: auto; }
.flex-wrapper .flex-item				{  }

.flex-2 > .span-1					{ flex-basis: 50%; }
.flex-2 > .span-2					{ flex-basis: 100%; }

.flex-3 > .span-1					{ flex-basis: 33.33%; }
.flex-3 > .span-2					{ flex-basis: 66.66%; }
.flex-3 > .span-3					{ flex-basis: 100%; }

.flex-4 > .span-1					{ flex-basis: 25%; }
.flex-4 > .span-2					{ flex-basis: 50%; }
.flex-4 > .span-3					{ flex-basis: 75%; }
.flex-4 > .span-3					{ flex-basis: 100%; }


.grid-wrapper						{ display: grid; justify-content: space-between; }
.grid-wrapper.grid-2					{ grid-template-columns: repeat(auto-fill, 50%); }
.grid-wrapper.grid-3					{ grid-template-columns: repeat(auto-fill, 33%); }
.grid-wrapper.grid-4					{ grid-template-columns: repeat(auto-fill, 25%); }
.grid-wrapper.grid-5					{ grid-template-columns: repeat(auto-fill, 20%); }




/* MASTHEAD
-------------------------------------------------------------- */
.page-header									{ padding-top: 4rem; padding-bottom: 4rem; position: absolute; width: 100%; }
.relative-header .page-header				{ position: relative; }
.page-header .layout-width					{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; position: relative; }
.flex-nav-wrapper							{ display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; position: relative; }
.page-header__logo							{ height: 21rem; position: relative; z-index: 100; }
.page-header__logo img						{ max-height: 100%; width: auto; }
.page-header__logo .logo-blk					{ display: none; }
.invert-colors .page-header__logo .logo-blk	{ display: block; }
.invert-colors .page-header__logo .logo-wht	{ display: none; }



/* NAVIGATION
-------------------------------------------------------------- */
.page-header__nav						{ margin: 0 0 0 0; padding: 0; list-style: none; position: relative; z-index: 10; }
.page-header__nav li						{ display: inline; }
.page-header__nav li a					{ display: inline-block; font-family: var(--font-family-mono); font-size: var(--body-size-mono); color: var(--text-color-white); text-transform: uppercase; line-height: 1; padding: 1rem 5rem; transition: all 0.15s cubic-bezier(0.83, 0, 0.17, 1); }
.page-header__nav li a:hover				{ color: var(--text-color-grey); }

.invert-colors .page-header__nav li a	{ color: var(--text-color-dark); }



/* MOBILE NAV */
.burger-icon										{ width: 30px; height: 30px; position: absolute; z-index: 10000 !important; right: 0rem; top: 0.5rem; display: none; }
.burger-icon .line								{ background-color: var(--text-color-white); width: 30px; height: 2px; display: block; position: absolute; left: 0; transition: 0.2s ease; }
.burger-icon.open .line							{ background-color: var(--text-color-dark); }
.burger-icon .line:nth-of-type(1)				{ top: 2px; }
.burger-icon .line:nth-of-type(2)				{ top: 12px; }
.burger-icon .line:nth-of-type(3)				{ top: 22px; }

.burger-icon:hover								{ cursor: pointer; }
.burger-icon:hover .line:nth-of-type(1)			{ top: 0px; }
.burger-icon:hover .line:nth-of-type(3)			{ top: 24px; }

.burger-icon.open .line:nth-of-type(1) 			{ transform: rotate(45deg); top: 14px; }
.burger-icon.open .line:nth-of-type(2) 			{ display: none; }
.burger-icon.open .line:nth-of-type(3) 			{ transform: rotate(135deg); top: 14px; }
.burger-icon.open:hover .line:nth-of-type(1) 	{ top: 14px; width: 40px; left: -2px; }
.burger-icon.open:hover .line:nth-of-type(3) 	{ top: 14px; width: 40px; left: -2px; }


.lang-switcher										{ position: relative; z-index: 10; margin: 0 -1.5rem 0 0; padding: 0; }
.lang-switcher a										{ font-family: var(--font-family-mono); font-size: var(--body-size-mono); color: var(--text-color-white); text-transform: uppercase; line-height: 1; padding: 1rem 1.5rem 1rem 0rem; transition: all 0.15s cubic-bezier(0.83, 0, 0.17, 1); display: block; }
.lang-switcher a:hover								{ text-decoration: none; color: var(--text-color-grey); }
.invert-colors .lang-switcher a						{ color: var(--text-color-dark); }
.lang-switcher ul									{ display: block !important; margin: 0; padding: 0; position: absolute; padding: 0.8rem 0 0 0; overflow: hidden; transition: all 0.25s ease-out; height: auto; transform: scaleY(0); transform-origin: top; opacity: 0; }
.lang-switcher.open ul								{ transform: scaleY(1); opacity: 1; }
.lang-switcher ul li									{ list-style: none; margin: 0; padding: 0; }
.lang-switcher ul li a								{ text-decoration: none; padding: 0.8rem 0; display: block; line-height: 1; }
.lang-switcher ul li a:hover							{ text-decoration: none; }

.lang-switcher-dropdown								{ text-decoration: none; text-transform: uppercase; position: relative; }
.lang-switcher-dropdown::after						{ content: "\2193"; position: absolute; top: 8px; right: 0; }
.lang-switcher.open .lang-switcher-dropdown::after	{ content: "\2191"; }
.lang-switcher-dropdown:hover						{ text-decoration: none; cursor: pointer; }


.mobile-nav										{ position: absolute; width: calc(100% - 2rem); height: 100vh; background-color: var(--bg-color-grey); top: 0; right: -100%; z-index: 1000; transition: right 0.5s ease-in-out; }
.nav-is-open .mobile-nav 						{ right: 0; }
.mobile-nav__inner								{ list-style: none; margin: 0; padding: 0; text-align: left; padding: 12rem 7rem 12rem 3rem; height: 100vh; }
.mobile-nav__inner a								{ color: var(--text-color-dark); font-family: var(--font-family-regular); font-size: var(--body-size-large); display: inline-block; line-height: 1; margin-bottom: 2rem; padding: 0.25rem 0 .025rem 0; position: relative; z-index: 1000; position: relative; text-transform: uppercase; }
.mobile-nav__inner li							{  }
.mobile-nav__inner li:last-of-type				{ border-bottom: none; }



/* Animating burger menu items to appear one by one on open */
.mobile-nav__inner li						{ will-change: transform, opacity; opacity: 0; }
.nav-is-open .mobile-nav__inner li			{ animation: navIntro 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards; animation-delay: 0.5s; }
.mobile-nav__inner li:nth-child(2)			{ animation-delay: 0.6s; }
.mobile-nav__inner li:nth-child(3)			{ animation-delay: 0.7s; }
.mobile-nav__inner li:nth-child(4)			{ animation-delay: 0.8s; }
.mobile-nav__inner li:nth-child(5)			{ animation-delay: 0.9s; }
.mobile-nav__inner li:nth-child(6)			{ animation-delay: 1.0s; }
.mobile-nav__inner li:nth-child(7)			{ animation-delay: 1.1s; }
.mobile-nav__inner li:nth-child(7)			{ animation-delay: 1.2s; }
.mobile-nav__inner li:nth-child(8)			{ animation-delay: 1.3s; }

@-webkit-keyframes navIntro 	{
	from {
  		opacity: 0;
		transform: translate3d(0px, 100%, 0px);	
	}
	to {
  		opacity: 1;
		transform: translate3d(0px, 0%, 0px);
	}
}



/* HERO
-------------------------------------------------------------- */
.hero									{ min-height: 110vh; display: flex; align-items: center; justify-content: center; }
.hero__text								{ color: var(--heading-color-white); font-family: var(--font-family-medium); padding-top: 36rem; padding-bottom: 12rem; }
.hero__text h1							{ color: var(--heading-color-white); font-size: var(--header-size-large); line-height: 0.92; margin-bottom: 3rem; }
.hero__text__inner						{ padding-right: 46vw; }

.hero__text--news-liftup					{ padding-top: 5.5rem; }
.hero__text--news-liftup a				{ font-family: var(--font-family-mono); font-size: var(--body-size-caption); color: var(--text-color-white); text-transform: uppercase; text-decoration: none; }
.hero__text--news-liftup a:hover			{ color: var(--text-color-highlight); text-decoration: underline; }



/* CONTENT ELEMENTS
-------------------------------------------------------------- */
.content-block							{  }


/* INTRO BLOCK */
.intro									{ font-family: var(--font-family-mono); font-size: var(--body-size-mono); text-transform: uppercase; text-align: center; }
.intro p:last-of-type					{ margin-bottom: 0; }
.intro .content-block__inner				{ max-width: 64rem; margin-left: auto; margin-right: auto; padding-top: 6rem; padding-bottom: 6rem; }


/* QUOTE */
.quote									{ padding-top: var(--global-padding-top); padding-bottom: var(--global-padding-btm); text-align: center; }
.quote__quote							{ font-size: var(--body-size-quote); line-height: 1.33; }
.quote__quote p:last-of-type				{ margin-bottom: 3rem; }
.quote__cite								{ font-family: var(--font-family-mono); font-size: var(--body-size-mono); color: var(--text-color-dark); text-transform: uppercase; }


/* COLUMN BLOCK */
.columns								{ padding-top: var(--global-padding-top); padding-bottom: var(--global-padding-btm); }
.columns__col							{ position: relative; margin-bottom: var(--global-padding-btm); }
.columns__col:nth-of-type(3n+1)			{ padding-right: 10rem; }
.columns__col:nth-of-type(3n+2)			{ padding-left: 5rem; padding-right: 5rem; }
.columns__col:nth-of-type(3n+3)			{ padding-left: 10rem; }
.columns__col p:last-of-type				{ margin-bottom: 0; }
.columns--numbers						{  }

.columns--numbers .content-block__inner	{ counter-reset: count; }
.columns--numbers .columns__col			{ counter-increment: count; }
.columns--numbers .columns__col:before	{ content: counter(count, decimal-leading-zero); color: var(--text-color-grey); font-family: var(--font-family-mono); font-size: var(--header-size-xl); line-height: 1.22; }


/* IMG & TEXT BLOCK */
.text-image									{ padding-top: var(--global-padding-top); padding-bottom: var(--global-padding-btm); }
.text-image + .text-image					{ padding-top: 0; margin-top: -12rem; }

.text-image h2								{ font-size: var(--header-size-medium); line-height: 1; margin-bottom: 3rem; }
.text-image h2 a								{ color: var(--text-color-dark); text-decoration: none; }
.text-image h2 a:hover						{ color: var(--text-color-dark); text-decoration: underline; }
.text-image h3								{ font-family: var(--font-family-mono); font-size: var(--header-size-tiny); color: var(--text-color-grey); text-transform: uppercase; line-height: 1; margin-bottom: 3rem; }

.text-image--left							{  }
.text-image--right .content-block__inner		{ flex-direction: row-reverse; }

.text-image__text							{ display: flex; align-items: center; justify-content: center; }
.text-image__text__inner						{  }
.text-image__text__inner a					{ font-family: var(--font-family-mono); color: var(--text-color-highlight); font-size: var(--body-size-caption); text-transform: uppercase; text-decoration: underline; }
.text-image__text__inner a:hover				{ color: var(--text-color-dark); text-decoration: underline; }
.text-image--right .text-image__text__inner	{ padding-left: var(--global-padding-sides); padding-right: 10rem; }
.text-image--left .text-image__text__inner	{ padding-right: var(--global-padding-sides); padding-left: 10rem; }

.text-image__img								{ position: relative; display: flex; flex-wrap: nowrap; align-items: stretch; }
.text-image__img .picture-wrapper			{ width: calc(100% - 38px); }
.text-image--left .text-image__img			{ flex-direction: row-reverse; }
.text-image__img__captio						{ line-height: 38px; font-family: var(--font-family-mono); font-size: var(--body-size-caption); color: var(--text-color-grey); text-transform: uppercase; text-align: center; writing-mode: vertical-rl; overflow: hidden; width: 38px; }
.text-image__img__captio p					{ margin-bottom: 0; }
.text-image--left .text-image__img__captio	{ -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }



/* TEXT & BACKGROUND IMG */
.text-bg-img											{ min-height: 110vh; color: var(--text-color-white); position: relative; display: flex; align-items: center; justify-content: center; text-align: center; }
.text-bg-img	 .content-block__header					{ position: absolute; top: 0; left: 0; right: 0; padding-top: 6rem; }
.text-bg-img	 .content-block__header h3				{ font-size: var(--text-size-mono); font-family: var(--font-family-mono); color: var(--header-color-white); text-transform: uppercase; }
.text-bg-img	 .content-block__inner					{ padding-top: 12rem; padding-bottom: 12rem; }
.text-bg-img	 .content-block__inner a					{ font-family: var(--font-family-mono); color: var(--text-color-white); font-size: var(--body-size-caption); text-transform: uppercase; text-decoration: underline; }
.text-bg-img	 .content-block__inner a:hover			{ color: var(--text-color-highlight); text-decoration: underline; }
.text-bg-img	 .content-block__inner h2				{ font-size: var(--header-size-large); color: var(--header-color-white); max-width: 80%; margin-left: auto; margin-right: auto; line-height: 0.92; margin-bottom: 3rem; }
.text-bg-img	 .content-block__inner p					{ font-size: var(--body-size-large); line-height: 1.33; max-width: 80%; margin-left: auto; margin-right: auto; }
.text-bg-img	 .content-block__inner p:last-of-type	{ margin-bottom: 0; }



/* PEOPLE BLOCK */
.people										{  }
.people	.person								{ text-align: center; padding-bottom: 4rem; }
.people	.person:nth-of-type(3n+1)			{ padding-right: 3rem; }
.people	.person:nth-of-type(3n+2)			{ padding-right: 1.5rem; padding-left: 1.5rem; }
.people	.person:nth-of-type(3n+3)			{ padding-left: 3rem; }
.people	.person__img							{ padding-bottom: 2rem; }
.people	.person__text						{  }
.people	.person__text p						{ font-size: var(--body-size-small); }
.people	.person__text a						{ text-decoration: none; color: var(--text-color-highlight); }
.people	.person__text a:hover				{ text-decoration: underline; color: var(--text-color-highlight); }
.people	.person__text h3						{ font-family: var(--font-family-medium); }



/* HUBSPOT FORM BLOCK */
.hubspot-form								{ padding-top: var(--global-padding-top); padding-bottom: var(--global-padding-btm); }
.hubspot-form h2								{ font-size: var(--header-size-medium); line-height: 1; margin-bottom: 3rem; }
.hubspot-form h3								{ font-family: var(--font-family-mono); font-size: var(--header-size-tiny); color: var(--text-color-grey); text-transform: uppercase; line-height: 1; margin-bottom: 3rem; }



/* NEWS LISTING & ARTICLE */
.article-date				{ font-family: var(--font-family-mono); font-size: var(--header-size-tiny); color: var(--text-color-grey); text-transform: uppercase; line-height: 1; margin-bottom: 3rem !important; }

.news-listing:nth-of-type(even) .content-block__inner		{ flex-direction: row; }
.news-listing:nth-of-type(even) .text-image__text__inner		{ padding-right: var(--global-padding-sides); padding-left: 10rem; }
.news-listing:nth-of-type(even) .text-image__img				{ flex-direction: row-reverse; }
.news-listing:nth-of-type(even) .text-image__img__captio		{ -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.news-article												{ padding-bottom: var(--global-padding-btm); }
.news-article__hero											{ padding-top: 5rem; padding-bottom: 6rem; }
.news-article h1												{ font-size: var(--header-size-medium); line-height: 1; margin-bottom: 3rem; }
.news-article h2												{ font-size: var(--body-size-large); line-height: 1; margin-bottom: 3rem; margin-top: 5rem; }
.news-article h3												{ font-size: var(--body-size-mono); line-height: 1; margin-bottom: 3rem; }
.news-article .content-block__inner p						{ padding-right: var(--global-padding-sides); }
.news-article .content-block__inner p:last-of-type			{ margin-bottom: 0; }
.news-article .img-full-width .text-image__img__captio p,
.news-article .img-half-width .text-image__img__captio p		{ padding-right: 0; }

.news-article .img-half-width								{ position: relative; width: calc(50% + var(--global-padding-sides)); padding-bottom: 6rem; padding-top: 6rem; }
.news-article .img-half-width.image-side--left				{ float: left; left: -6rem; margin-left: -6rem; }
.news-article .img-half-width.image-side--left .text-image__img			{ flex-direction: row-reverse; }
.news-article .img-half-width.image-side--left .text-image__img__captio	{ -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.news-article .img-half-width.image-side--right				{ float: right; right: -6rem; margin-right: -6rem; }

.news-article .img-full-width								{ position: relative; width: 100%; padding-bottom: 6rem; padding-top: 2rem; }
												
.news-article .sources										{ clear: both; padding-bottom: 6rem; padding-top: 6rem; font-family: var(--font-family-mono); font-size: var(--body-size-caption); color: var(--text-color-grey); text-transform: uppercase; }
.news-article .sources a										{ color: var(--text-color-highlight); text-decoration: none; }
.news-article .sources a:hover								{ color: var(--text-color-highlight); text-decoration: underline; }

.article-contact-info										{ position: relative; width: 100%; padding-bottom: 2rem; padding-top: 2rem; display: flex; }
.article-contact-info__img									{ max-width: 22rem; margin-right: 4rem; }
.article-contact-info__text									{  }
.article-contact-info__text a								{ color: var(--text-color-highlight); text-decoration: none; }
.article-contact-info__text a:hover							{ color: var(--text-color-highlight); text-decoration: underline; }
.article-contact-info__text p:last-of-type					{ margin-bottom: 0; }


.news-article__content a						{ color: var(--text-color-highlight); text-decoration: none; border-bottom: 1px solid var(--text-color-highlight); transition: all 0.15s cubic-bezier(0.83, 0, 0.17, 1); }
.news-article__content a:hover				{ color: var(--text-color-dark); text-decoration: none; border-bottom: 1px solid var(--text-color-dark); }


.pagination									{ text-align: center; padding-bottom: 2rem; padding-top: 2rem; }
.pagination a								{ color: var(--text-color-dark); text-decoration: none; font-family: var(--font-family-mono); font-size: var(--body-size-caption); text-transform: uppercase; margin: 0 4rem; }
.pagination a:hover							{ color: var(--text-color-highlight); text-decoration: none; }



/* FOOTER
-------------------------------------------------------------- */
.page-footer									{ padding-top: var(--global-padding-top); padding-bottom: 8rem; clear: both; }
.page-footer__logo							{ height: 21rem; }
.page-footer__logo img						{ max-height: 100%; width: auto; }

.page-footer__sidebar						{ text-align: right; font-family: var(--font-family-mono); }
.page-footer__sidebar ul						{ margin: 0; padding: 0; list-style: none; }
.page-footer__nav							{  }
.page-footer__nav a							{ font-size: var(--body-size-mono); color: var(--text-color-dark); transition: all 0.15s cubic-bezier(0.83, 0, 0.17, 1); text-transform: uppercase; }
.page-footer__nav a:hover					{ color: var(--text-color-grey); }

.page-footer__some							{ padding-top: 5rem !important; }
.page-footer__some li						{ display: inline-block; }
.page-footer__some li a						{ display: inline-block; width: 3.6rem; height: 3.6rem; text-align: center; }
.page-footer__some li a svg					{ max-width: 100%; height: auto; transform: scale(0.9); transition: transform 0.15s cubic-bezier(0.83, 0, 0.17, 1); }
.page-footer__some li a:hover svg			{ transform: scale(1); }

.page-footer__small-print					{ font-size: var(--body-size-tiny); color: var(--text-color-dark); text-transform: uppercase; padding-top: 5rem; }
.page-footer__small-print p					{ margin-bottom: 0; }



/* MEDIA QUERIES
-------------------------------------------------------------- */
@media only screen and (min-width : 1700px) {
	.hero__text__inner					{ padding-right: 62%; }
}

@media only screen and (max-width : 1440px) {
	.page-header__logo,
	.page-footer__logo					{ height: 20rem; }
	.page-header__nav li a				{ padding: 1rem 4rem; }

/*
	.news-article .img-half-width								{ position: relative; width: calc(50% + var(--global-padding-sides)); padding-bottom: 6rem; padding-top: 6rem; }
	.news-article .img-half-width.image-side--left				{ float: left; left: -6rem; margin-left: -6rem; }
	.news-article .img-half-width.image-side--left .text-image__img			{ flex-direction: row-reverse; }
	.news-article .img-half-width.image-side--left .text-image__img__captio	{ -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

	.news-article .img-half-width.image-side--right				{ float: right; right: -6rem; margin-right: -6rem; }
*/
}

@media only screen and (max-width : 1280px) {
	:root	{
		/* Global padding */
		--global-padding-sides: 6rem;
	}

	.page-header__logo,
	.page-footer__logo					{ height: 19rem; }
	.page-header__nav li a				{ padding: 1rem 3rem; }
	
	.columns__col:nth-of-type(3n+1)			{ padding-right: 8rem; }
	.columns__col:nth-of-type(3n+2)			{ padding-left: 4rem; padding-right: 4rem; }
	.columns__col:nth-of-type(3n+3)			{ padding-left: 8rem; }
	
	.text-image--right .text-image__text__inner	{ padding-right: 8rem; }
	.text-image--left .text-image__text__inner	{ padding-left: 8rem; }
	
	.news-article .img-half-width					{ padding-bottom: 3rem; padding-top: 3rem; }
	.news-article .img-half-width.image-side--left	{ left: -3rem; margin-left: -3rem; }
	.news-article .img-half-width.image-side--right	{ right: -3rem; margin-right: -3rem; }
}

@media only screen and (max-width : 1120px) {
	.page-header__logo,
	.page-footer__logo					{ height: 18rem; }
	.page-header__nav li a				{ padding: 1rem 2rem; }
	
	.hero__text__inner					{ padding-right: 40vw; }
	
	.columns__col:nth-of-type(3n+1)		{ padding-right: 6rem; }
	.columns__col:nth-of-type(3n+2)		{ padding-left: 3rem; padding-right: 3rem; }
	.columns__col:nth-of-type(3n+3)		{ padding-left: 6rem; }
	
	.text-image--right .text-image__text__inner	{ padding-right: 6rem; }
	.text-image--left .text-image__text__inner	{ padding-left: 6rem; }
}

@media only screen and (max-width : 1024px) {
	:root	{
		/* Typography */
		--base-font-size: 170%; /* Set HTML font-size where 190% = 19px */
		
		/* Global padding */
		--global-padding-sides: 0rem;
	}
	
	.layout-width						{ padding-left: 4rem; padding-right: 4rem; }
	
	.page-header__logo,
	.page-footer__logo					{ height: 17rem; }
	.page-header__nav li a				{ padding: 1rem 1.5rem; }
	
	.columns__col:nth-of-type(3n+1)			{ padding-right: 4rem; }
	.columns__col:nth-of-type(3n+2)			{ padding-left: 2rem; padding-right: 2rem; }
	.columns__col:nth-of-type(3n+3)			{ padding-left: 4rem; }
	
	.text-image--right .text-image__text__inner	{ padding-right: 4rem; }
	.text-image--left .text-image__text__inner	{ padding-left: 4rem; }
	
	.news-article .img-half-width.image-side--left	{ left: 0rem; margin-left: 0rem; margin-right: 3rem; }
	.news-article .img-half-width.image-side--right	{ right: 0rem; margin-right: 0rem; margin-left: 3rem; }
}

@media only screen and (max-width : 960px) {	
	.page-header__nav					{ display: none; }
	.burger-icon							{ display: block; }
	
	.lang-switcher						{ margin: 0 5rem 0 0; }
	
	.hero__text__inner					{ padding-right: 30vw; }
	
	.text-image--right .text-image__text__inner	{ padding-right: 0rem; }
	.text-image--left .text-image__text__inner	{ padding-left: 0rem; }
	
	.text-image + .text-image					{ padding-top: 0; margin-top: -6rem; }
	.text-image__text.span-1						{ flex-basis: 100%; margin-bottom: 4.5rem; }
	.text-image__img.span-1						{ flex-basis: 100%; margin-bottom: 4.5rem; }
	.text-image--left .text-image__img			{ flex-direction: row; }
	
	.news-listing:nth-of-type(even) .text-image__text__inner		{ padding-left: 0rem; }
	.news-listing:nth-of-type(even) .text-image__img				{ flex-direction: row; }
	.news-listing:nth-of-type(even) .text-image__img__captio		{ -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	
	.people	.person								{  }
	.people	.person:nth-of-type(3n+1)			{ padding-right: 2rem; }
	.people	.person:nth-of-type(3n+2)			{ padding-right: 1rem; padding-left: 1rem; }
	.people	.person:nth-of-type(3n+3)			{ padding-left: 2rem; }
}

@media only screen and (max-width : 780px) {
	:root	{
		/* Typography */
		--base-font-size: 160%; /* Set HTML font-size where 190% = 19px */
		
		/* Global padding */
		--global-padding-top: 6rem;
		--global-padding-btm: 6rem;
	}
	
	.page-header__logo,
	.page-footer__logo					{ height: 16rem; }
	
	.layout-width						{ padding-left: 2rem; padding-right: 2rem; }
	
	.burger-icon							{ right: 0rem; }
	
	.hero__text__inner					{ padding-right: 20vw; }
	
	.text-bg-img	 .content-block__inner h2	{ font-size: var(--header-size-medium); max-width: 100%; }
	.text-bg-img	 .content-block__inner p		{ font-size: 19px; max-width: 100%; }
	
	.grid-wrapper.grid-3						{ grid-template-columns: repeat(auto-fill, 50%); }
	
	.people	.person							{  }
	.people	.person:nth-of-type(3n+1)		{ padding-right: 0rem; }
	.people	.person:nth-of-type(3n+2)		{ padding-right: 0rem; padding-left: 0rem; }
	.people	.person:nth-of-type(3n+3)		{ padding-left: 0rem; }
	
	.people	.person:nth-of-type(2n+1)		{ padding-right: 1.5rem; }
	.people	.person:nth-of-type(2n+2)		{ padding-left: 1.5rem; }
}

@media only screen and (max-width : 580px) {
	:root	{
		/* Font sizes */
		--body-size-quote: 1.875em; /* 30px */
		--header-size-medium: 1.875em; /* 30px */
		--header-size-large: 2.875em; /* 46px */
		--header-size-xl: 5em; /* 80px */
	}
	
	.page-header__logo,
	.page-footer__logo					{ height: 15rem; }

	.hero__text							{ padding-top: 26rem; padding-bottom: 8rem; }
	.hero__text__inner					{ padding-right: 0vw; }
	.hero__text h1						{ -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
	
	.page-footer__sidebar.span-1			{ width: 100%; flex-basis: 100%; text-align: center; padding-top: 5.5rem; }
	
	.news-article__hero					{ padding-top: 2rem; padding-bottom: 2.5rem; }
	
	.news-article h1						{ margin-bottom: 0rem; }
	
	.news-article .img-half-width											{ width: 100%; margin-bottom: 1rem; }
	.news-article .img-half-width.image-side--left .text-image__img			{ flex-direction: row; }
	.news-article .img-half-width.image-side--left .text-image__img__captio	{ -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); }
	
	.news-article .img-half-width.image-side--left	{ float: none; left: 0rem; margin-left: 0rem; margin-right: 0rem; }
	.news-article .img-half-width.image-side--right	{ float: none; right: 0rem; margin-right: 0rem; margin-left: 0rem; }
	
	.article-contact-info__img				{ width: 33%; margin-right: 2rem; }
	
	.grid-wrapper.grid-3						{ grid-template-columns: repeat(auto-fill, 100%); }

	.people									{ padding-top: 4.5rem; }
	.people	.person:nth-of-type(2n+1)		{ padding-right: 0rem; }
	.people	.person:nth-of-type(2n+2)		{ padding-left: 0rem; }
}

@media only screen and (max-width : 540px) {
	.columns__col.span-1					{ flex-basis: 100%; }
	.columns__col:nth-of-type(3n+1)		{ padding-right: 0rem; }
	.columns__col:nth-of-type(3n+2)		{ padding-left: 0rem; padding-right: 0rem; }
	.columns__col:nth-of-type(3n+3)		{ padding-left: 0rem; }
	
	.columns--numbers .columns__col		{ text-align: center; }
}





/* -----------------------------------------------------------

	ANIMATIONS

----------------------------------------------------------- */
.content-block--animate						{ position: relative; }
.hero.content-block--animate					{  }
.animated-content							{ will-change: transform, opacity; opacity: 0; transform: translate3d(0px, 200px, 0px); animation-delay: 1s; animation-fill-mode: forwards; }
.animate .animated-content					{ animation: appear 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards; }

@keyframes appear 	{
	from {
		opacity: 0;
		transform: translate3d(0px, 200px, 0px);
	}
	to { 
		opacity: 1;
		transform: translate3d(0px, 0, 0px);
	}
}

.img-zoom-wrapper							{ overflow: hidden; perspective: 100px; }
.img-zoom									{ width: 100%; height: 100%; transform: scale(1.1); transition: all 8s cubic-bezier(0.22, 1, 0.36, 1); }
.zoom-in .img-zoom							{ transform: scale(1); }



/*
	Stop Animations During Window Resizing
----------------------------------------------------------- */
.resize-animation-stopper * 	{ animation: none !important; transition: none !important; }

/*
	60fps scrolling
	http://www.thecssninja.com/javascript/pointer-events-60fps
----------------------------------------------------------- */
.disable-hover,
.disable-hover * { pointer-events: none !important; }

/* 
	Remove all animations and transitions 
	for people who prefer not to see them.
----------------------------------------------------------- */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}